# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.venv/
env/
.env/
ENV/
env.bak/
.Python

# Flask instance folder
instance/
.webassets-cache/

# Local development config
*.env
*.env.*

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# Jupyter
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# VS Code
.vscode/

# PyCharm
.idea/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/

# Bandit
bandit.yaml

# OS-specific files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
